nauty/
saucy/
conauto/
bliss/
tests/graphs/
.cmake/
.idea/
Makefile
cmake-build-default-coverage/
cmake-build-debug/
CMakeFiles/
Testing/
*.zip
*.cmake
*.html
dejavu.cbp
html/
latex/
notes
old_files/
__pycache__/
_deps/
doxygen-awesome-css/